<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".Activity.HelpAndSupportActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ReferalActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AnnaUniversityCourseSelectionActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.UniversitySelectionActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CollegeSelectionActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ProductBookingListActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MyWalletActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.CounsellingFormActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activity.WithdrawHistoryActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.WithdrawRequestActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AbroadActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ProductDetailActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ProductlistActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.QuotaSeatActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ProfileActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AboutUsActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.PrivacyPolicyActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SupportActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.EducationLoanActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ReferralListActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ScholarshipActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AcademicActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.FeesDetailActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.CollegeDetailActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MyBookingsActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.PaymentActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SeatRegisterActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.HomeActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.CourseSelectionActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SampleActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activity.OTPActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>